.landpage{
    $grey: #dddddd;
    $brown: #282222;
    $skin-color: #f1cdb3;
    $text-button: #292929;
    .header-info{
            background: url('../../assets/background.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            @media only screen and (max-width: 600px){
                height: 500px;
            }
            @media only screen and (min-width: 601px) and (max-width: 768px){
                background-position-x: -400px;
            }
        &_content{
            padding: 0px 40px 0px 20px;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            &_title{
                color: #ffffff;
                margin-bottom: 15px;
            }
            &_text{
                color: $grey;
                margin-bottom: 25px;
                line-height: 25px;
                font-size: 14px;
            }
            &_button{
                border: 1px solid $grey;
                padding: 10px 40px;
                border-radius: 50px;
                color: $text-button;
                background: $skin-color;
                letter-spacing: 1px;
                transition: box-shadow .5s ease-in-out;
                &:hover{
                    box-shadow: 0px 0px 20px -5px $grey;
                }
            }
            @media only screen and (min-width: 769px){
                padding-right: 50%;
            }
        }
    }
    .petinfo{
        background: #fafafa;
        &_content{
            display: flex;
            justify-content: space-around;
            padding: 40px 0px;
            @media only screen and (min-width: 769px){
                justify-content: space-between;
            }
            &_group{
                text-align: center;
                img{
                    width: 50%;
                    @media only screen and (min-width: 769px){
                        width: 25%;
                    }
                }
                p{
                    font-size: 7px;
                    margin-top: 15px;
                    @media only screen and (min-width: 769px){
                        display: block;
                        font-size: 12px;
                        margin-top: 15px;
                        color: $text-button;
                        letter-spacing: 1px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .About-us{
        &_content{
            display: flex;
            align-items: center;
            flex-direction: column;
            @media only screen and (min-width: 769px){
                flex-direction: row;
                padding: 60px 0px;
            }
            &_box{
                padding: 30px 0px 0px 0px;
                @media only screen and (min-width: 769px){
                    width: 40%;
                    display: flex;
                    justify-content: center;
                }
                img{
                    @media only screen and (min-width: 769px){
                        width: 70%;
                       
                    }
                    width: 70%;
                }
            }
            &_boxtwo{
                padding: 0px 20px;
                margin-top: 30px;
                @media only screen and (min-width: 769px){
                    width: 60%;
                    padding-right: 20%;
                }
                p{
                    margin-top: 15px;
                }
            }
        }
    }
}