$light: #fafafa;
$brown: #282222;
$skin-color: #f1cdb3;
.dashboard{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden!important;
    transition: background .5s ease-in-out;
    h1{
        text-align: center;
        letter-spacing: 2px;
        color: $brown;
        padding-top: 60px;
    }
    &-dark{
        background: $brown;
    }
    &-light{
        background: $light;
    }
}