.Navbar{
    width: 100%;
    background: red;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    p{
        font-size: 50px;
        color: white;
        &:hover{
            color: yellow;
            text-shadow: 5px 0px 2px #000;
            cursor: pointer;
        }
    }
}