.Navbar{
    width: 100%;
    background: #1D406D;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 1px 20px 0px;
    position: fixed;
    z-index: 99;
    img{
        width: 7%;
        margin-left: 50px;
        @media only screen and (max-width: 768px) {
            width: 25%
        }
    }
    &__group-button{
        margin-right: 25px;
        button{
            margin: 0px 5px;
            padding: 5px;
            padding: 7px 25px;
            background: #FFFFFF;
            box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            border: 0px;
            transition: all .5s;
            &:hover{
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
}