$grey: #dddddd;
$brown: #282222;
$skin-color: #f1cdb3;
.scrolling{
    background: $brown;
    box-shadow: 0px 5px 30px -5px $brown;
}
.Navbar{
    position: fixed!important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    position: relative;
    height: 70px;
    transition: all 0.5s ease-in-out;
    &_container{
        width: 100%;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 768px){
            padding: 0px;
        }
    }
    @media only screen and (max-width: 768px){
        position: fixed;
        z-index: 99;
    }
    &_logo{
        width: 15%;
        @media only screen and (min-width: 601px){
            width: 35%;
            cursor: pointer;
        }
        @media only screen and (max-width: 600px){
            width: 35%;
        }
    }

    &_menu-hamburguer{
        @media only screen and (max-width: 768px){
            width: 45px;
            height: 45px;
            background: $grey;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            span{
                width: 50%;
                height: 3px;
                display: block;
                margin: 3px 10px;
                background: $brown;
                transition: all 0.3s ease-in-out;
            }
        }
    }


    @media only screen and (max-width: 768px){
        .open{
            span:nth-child(1){
                transform: rotate(45deg) translate(6px, 6px);
            }
            span:nth-child(2){
                opacity: 0;
            }
            span:nth-child(3){
                transform: rotate(-45deg) translate(6px, -7px);
            }
        }
    }


    &_group-button{
        @media only screen and (max-width: 768px){
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            background: $brown;
            ul{
                width: 100%;
                height: 100vh;
                opacity: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                li{
                    text-align: center;
                    a{
                        width: 100%;
                        display: block;
                        padding: 20px 20px;
                        font-size: 22px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
        @media only screen and (min-width: 769px){
            ul{
                display: flex;
                li{
                    margin: 0px 10px;
                    border: 2px solid transparent;
                    padding-bottom: 5px;
                    &:hover{
                        border-bottom: 2px solid $skin-color;
                        cursor: pointer;
                    }
                    a{
                        padding: 0px 0px 5px 0px;
                    }
                }
                .submenu{
                    &:hover{
                        border-bottom: 2px solid transparent;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px){
        .link_dropdown{
            color: #ffffff;
            font-size: 22px;
            letter-spacing: 2px;
            padding-top: 20px;
            padding-bottom: 20px;
            .openOption{
                ul{
                    display: block;
                }
            }
            .openOptionLogin{
                ul{
                    display: block;
                }
            }
        &_list{
            height: auto;
            background: #f4f4f4;
            margin-top: 20px;
            display: none;
            &-item{
                color: #282222;
                background: $skin-color;
                padding: 15px 0px;
                font-size: 18px;
                border-bottom: 1px solid $brown;
            }
        } 
    }
}

    @media only screen and (min-width: 769px){
        .link_dropdown{
            color: #ffffff;
            &:hover{
                cursor: pointer;
            }
            .openOption{
                transform: perspective(1000px) rotateX(0deg) translate(-10px, 0px);
            }
            .openOptionLogin{
                transform: perspective(1000px) rotateX(0deg) translate(-35px, 0px)!important;
            }
            .option_login{
                transform: perspective(1000px) rotateX(-90deg) translate(-35px, 0px);
            }
            &_option{
                position: absolute;
                transform: perspective(1000px) rotateX(-90deg) translate(-10px, 0px);
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
                transition: transform 0.4s ease-in-out;
                transform-origin: top;
                top: 100%;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: -5px;
                    left: 50%;
                    transform: translate(-50%) rotate(45deg);
                    border-radius: 2px;
                    background: $brown;
                }
            }
            &_list{
                border-radius: 2px;
                background: $brown;
                padding: 8px 15px;
                display: flex;
                flex-direction: column;
                &-item{
                   padding: 8px 0px;
                   margin: 0;
                   color: $skin-color;
                   text-align: center;
                   font-size: 12px;
                   &:hover{
                       cursor: pointer;
                       opacity: 0.7;
                   }
                }
            }  
        }
    }
}