.MyPets{
    background: #ffffff;
    border: 1px solid #d2d8dd;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 5%;
    padding: 20px;
    position: relative;
    &_avatar{
        width: 60px!important;
        height: 60px!important;
        background-position: center;
    }
    &_info{
        display: flex;
        &-btn{
            padding: 5px!important;
            height: 35px!important;
            min-width: 35px!important;
            &_delete{
                color: red;
                width: 20px!important;
                height: 20px!important;
            }
            &_edit{
                color: grey;
                width: 20px!important;
                height: 20px!important;
            }
        }
    }
    &_info-main{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        &_name{
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.5px;
        }
        &_description{
            color: #a1a4a6;
            font-size: 14px;
            line-height: 18px;
            width: 95%;
        }
    }
    &_info-secundary{
        margin-top: 25px;
        display: flex;
       
        &_raca{
            color:  #1ebb28;
        }
        span{
            display: block;
            font-size: 14px;
            font-weight: bold;
            color: #4b5155;
            margin-right: 5%;
        }
    }
}